# inputs, outputs 폴더 내 모든 파일 제외
inputs/*
outputs/*
inputs
outputs

# 최상위 디렉토리에서 .log 파일, codes.txt, use.py 제외
*.log
codes.txt
use.py
tree.md

# 최상위 디렉토리에서 task.py 제외한 모든 .py 파일 제외
/*.py
!task.py

# 기타
*/__pycache__/
